
@{
    ViewBag.Title = "Presence Kit";
}

 <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PresenceKit</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-colla pse-1">
          <div class="navbar-right">
          </div>
        </div>
      </div>
    </nav>

    <div class="row row-top">
    </div>

    <!-- Connect Modal (initially hidden) -->
    <div class="modal fade" id="connect-modal" tabindex="-1" role="dialog" aria-labelledby="connect-modal-label" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="connect-modal-label">Welcome to PresenceKit</h4>
            <h4><small>An OpenTok one-to-one solution focussed on adding presence using .Net as server language</small></h4>
          </div>
          <div class="modal-body">
            <p>If this is your first time testing the application, you will need a group of users to also join and test with you. If you would like
            to start testing on your own, you could also open <a href="/" target="_blank">another window with the same address</a>, side by side, 
            and enter two different names.</p>
            <p>After pressing the "Connect" button below, the upper right shows your username and indicates that you are connected. All other users
            that are connected will appear in the "Buddies" list. When a user is available for a call, the camera icon button next to thier name
            is used to invite that user to a video chat.</p>
            <p>Get started by filling out the form:</p>
            <form role="form" id="connect-form">
              <div class="form-group">
                <label for="user[name]">Name</label>
                <input type="text" class="form-control" name="user[name]" placeholder="Enter a name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="connect-btn" data-loading-text="Connecting..." class="btn btn-primary" disabled>Initializing...</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 sidebar-left">
      </div>

      <div class="col-sm-8 content-right">
      </div>
    </div>

    <!-- CLIENT TEMPLATES -->
    <!-- Buddy List template -->
    <script type="text/template" id="tpl-buddy-list">
      <div class="panel-heading">
        <h3 class="panel-title">Buddies</h3>
      </div>
      <div class="list-group">
        <% if (_.size(users) > 0) { %>
          <% _.forEach(users, function(user, index) { %>
            <div class="list-group-item buddy">
              <% if (user.available) { %>
                <button type="button" class="btn btn-default pull-right invite-button">
                  <span class="glyphicon glyphicon-facetime-video"></span>
                </button>
              <% } %>
              <p class="list-group-item-text buddy-name"><%- user.name %></p>
            </div>
          <% }); %>
        <% } else { %>
            <div class="list-group-item">
              <p class="list-group-item-text">No Buddies</p>
            </div>
        <% } %>
      </div>
    </script>

    <!-- User Info template -->
    <script type="text/template" id="tpl-user-info">
      <% if (connected) { %>
        Connected as <strong><%- name %></strong>
      <% } else { %>
        Not Connected
      <% } %>
    </script>

    <!-- Outgoing invitation template -->
    <script type="text/template" id="tpl-outgoing-invite">
      <div class="alert alert-info invitation" role="alert">
        <p class="pull-right"><button type="button" class="btn btn-danger invite-cancel">Cancel</button></p>
        <p class="invite-message">Waiting for <strong><%- remoteUser.name %></strong> to accept your chat invitation</p>
      </div>
    </script>

    <!-- Incoming invitation template -->
    <script type="text/template" id="tpl-incoming-invite">
      <div class="alert alert-info invitation" role="alert">
        <p class="pull-right"><button type="button" class="btn btn-danger invite-decline">Decline</button> <button type="button" class="btn btn-success invite-accept">Accept</button></p>
        <p class="invite-message"><strong><%- remoteUser.name %></strong> has invited you to a chat</p>
      </div>
    </script>

    <!-- Chat template -->
    <script type="text/template" id="tpl-chat">
      <% if (subscriberName) { %>
        <div class="panel-heading">
          <h3 class="panel-title">Chat with <%- subscriberName %></h3>
        </div>
        <div class="panel-body video-holder">
          <div class="subscriber"></div>
          <div class="publisher"></div>
          <div class="bottom-bar">
            <button type="button" class="btn btn-danger end-button">End Chat</button>
          </div>
          <div class="waiting">
            <div class="spinner"></div>
            <p>Waiting for <%- subscriberName %></p>
          </div>
          <div class="ending hidden">
            <p>Your chat with <%- subscriberName %> has ended</p>
          </div>
        </div>
      <% } else { %>
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body video-holder empty">
          <p class="lead">Invite a Buddy to start chatting</p>
        </div>
      <% } %>
    </script>
    <script>
      var ping=function(pid){$.ajax({type:'POST',url:'https://hlg.tokbox.com/prod/logging/ClientEvent',
      data:JSON.stringify({action:'sk_init',partner_id: pid,payload:{id:'pres',l:'php',v:'1.0.0'}}),
      processData:false, contentType: 'application/json'});};
    </script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/loglevel/0.6.0/loglevel.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js"></script>
    <script src="/js/models/LocalUser.js"></script>
    <script src="/js/models/RemoteUser.js"></script>
    <script src="/js/models/Invitation.js"></script>
    <script src="/js/models/Chat.js"></script>
    <script src="/js/collections/BuddyList.js"></script>
    <script src="/js/collections/InvitationList.js"></script>
    <script src="/js/views/UserInfoView.js"></script>
    <script src="/js/views/ConnectModalView.js"></script>
    <script src="/js/views/BuddyListView.js"></script>
    <script src="/js/views/InvitationListView.js"></script>
    <script src="/js/views/ChatView.js"></script>
    <script src="/js/app.js"></script>

